h3,
.search-bar,
.submit {
  margin-top: 2rem;
}

.search-bar,
.submit {
  outline: 0;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
}

.search-bar {
  background: #f2f2f2;
  width: 30%;
}

.submit {
  width: 100px;
  color: #f1f1f1;
  background-color: #1fb264;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.warm-bg,
.cold-bg {
  padding: 2rem 0;
}

.warm-bg {
  background: rgb(219, 11, 11);
  background: linear-gradient(
    90deg,
    rgba(219, 11, 11, 1) 0%,
    rgba(255, 129, 2, 1) 100%
  );
}

.cold-bg {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 70, 253, 1) 100%
  );
}

.city-name {
  color: #f1f1f1;
}

.temp,
.city-temp {
  margin: 1rem 0;
}

.warm-list {
  width: 600px;
  display: inline-flex;
  justify-content: space-around;
}

.warm-cities {
  margin-top: 1rem;
}

.vacation {
  margin-top: 5rem;
  color: #f1f1f1;
  font-size: larger;
  background: rgba(76, 175, 80, 0.25);
  padding: 10px;
}

.undefined-city {
  background-color: red;
  color: #fff;
}

.wi {
  font-size: 75px;
  margin-bottom: 2rem;
}

.card-container {
  width: 24em;
  border-radius: 0.6em;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.card-container:hover {
  transform: scale(1.03);
}

.instruction {
  color: #fff;
}

@media only screen and (max-width: 768px) and (max-width: 1024px) {
  .card-container {
    width: 20em;
    font-size:initial;
  }

  .instruction {
    background-color: #f1f1f1;
    padding: 10px;
    color: #333;
  }

  .search-bar {
    width: auto;
  }

  .vacation {
    background: rgba(76, 175, 80, 0.1);
    width: 400px;
  }

  .warm-cities {
    margin-left: -100px;
  }
}
