h3,
.search-bar,
.submit {
  margin-top: 2rem;
}

.search-bar,
.submit {
  outline: 0;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
}

.search-bar {
  background: #f2f2f2;
  width: 30%;
}

.submit {
  width: 100px;
  color: #f1f1f1;
  background-color: #1fb264;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.warm-bg,
.cold-bg {
  padding: 2rem 0;
}

.warm-bg {
  background: rgb(219, 11, 11);
  background: linear-gradient(
    90deg,
    rgba(219, 11, 11, 1) 0%,
    rgba(255, 129, 2, 1) 100%
  );
}

.cold-bg {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 70, 253, 1) 100%
  );
}

.city-name {
  color: #f1f1f1;
}

.temp,
.city-temp {
  margin: 1rem 0;
}

.warm-list {
  width: 600px;
  display: inline-flex;
  justify-content: space-around;
}

.warm-cities {
  margin-top: 1rem;
}

.vacation {
  margin-top: 5rem;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    90deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(2, 255, 163, 1) 100%
  );
}

.undefined-city {
  background-color: red;
  color: #fff;
}
